.btn-10 {
  border: 1px solid #fafafa;
  box-shadow: 0 0 5px #ff45ff, 0 0 5px #fb3afb inset;
  color: #fefefe;
  text-shadow: 0 0 10px #fc69fc, 0 0 20px #ff61ff, 0 0 100px #fff;
  background: transparent;
}

/* .btn-7 {
  width: 200px;
  height: 70px;
  border-radius:15px;
  margin-left: 150px;
  background: white;
  position: relative;
  overflow: hidden;
  }
  
  .btn-7 span {
  color: #fff;
  text-shadow: 0 0 10px #fc69fc, 0 0 20px #ff61ff, 0 0 100px #fff;
  font-size: 20px;
  font-weight: 600;
  z-index: 1;
  }
  
  .btn-7::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 50px;
  background: purple;
  animation: rotate 10s ease infinite;
  left: -1%;
  top: 11%;
  }
  
  @keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
  }
  
  .btn-7:after {
  content: "";
  position: absolute;
  inset: 3px;
  background: white;
  border-radius: 15px;
  } */
