.btn-10 {
  border: 1px solid #fafafa;
  box-shadow: 0 0 5px #ff45ff, 0 0 5px #fb3afb inset;
  color: #fefefe;
  text-shadow: 0 0 10px #fc69fc, 0 0 20px #ff61ff, 0 0 100px #fff;
  background: transparent;
}

